/**********************************
 Author and software info here
 **********************************/
manifest {
  name = 'IdoBar/blast-nf'
  author = 'Ido Bar'
  homePage = 'https://github.com/IdoBar/blast-nf'
  description = 'Nextflow adapted BLAST program'
  mainScript = 'main.nf'
  version = '1.0.0'
}


params {
  reference = false
  help = false
  query = "${baseDir}/testData/headtest.fasta"
  outdir = './out_dir'
  dbDir = "${baseDir}/DB"
  dbName ='headtest'
  // outfmt = "'6 qseqid sseqid pident length mismatch gapopen qstart qend sstart send evalue bitscore qlen slen frames salltitles qcovs'"
  outfmt = "'6 std stitle staxids ssciname scomname'"
  options = "-evalue 1e-10 -max_target_seqs 20"
  outfileName = "blastout"
  // threads = 8
  chunkSize = 5000 //this is the number of fasta records to split the file into
  app = "blastn"   //   blast program
  makeblastdb = false
  queueSize = 18
  monochrome_logs = false
}

process {
  publishDir = "${baseDir}/$params.outdir"

  /* really should combine these via withLabel:blast... but it's giving wierd behavior */
  withName: 'software_check|.+Blast.*' {
    container = 'quay.io/biocontainers/blast:2.15.0--pl5321h6f7f691_1'
  }
  /*
  withName:runBlast {
    container = 'quay.io/biocontainers/blast:2.15.0--pl5321h6f7f691_1'
  }

  withName:runMakeBlastDB {
    container = 'quay.io/biocontainers/blast:2.15.0--pl5321h6f7f691_1'
  }
  */
}

executor {
  queueSize = 20
  submitRateLimit = '10 sec'
}

profiles {
  condo { includeConfig './configs/condo.config' }
  ceres { includeConfig './configs/ceres.config' }
  local { includeConfig './configs/local.config'}
  nova { includeConfig './configs/nova.config'}
  test { includeConfig './configs/test.config'}

  docker {
    docker.enabled = true
  }

  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
  }
}

// Avoid this error:
//   WARNING: Your kernel does not support swap limit capabilities or the cgroup is not mounted. Memory limited without swap.
docker.runOptions = '-u \$(id -u):\$(id -g)'



// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = true
  file = "$params.outdir/timeline.html"
}

report {
  enabled = true
  file = "$params.outdir/report.html"
}
